<div class="card-outer">
  <div class="card-almost-outer">
    <div class="card-top">picture
      <a class="card-top-link" href="#">
        <img src="" alt="" />
      </a>
    </div>
    <div class="card-mid">
      <p class="card-username">
        name
      </p>

      <br>
      <br>
      <br>
      <h6 class="card-title">
        <a href="#">{{idea.title}}</a>
      </h6>
      <p class="card-description">
        {{idea.description}}
      </p>
    </div>
    <hr />

    <div class="card-bottom">
      <div class="card-four">
        <h4>Rate the mIdea  -  <b>{{rate}}/10</b> <br>Overall - <strong>{{average}}/10</strong></h4>
        <uib-rating class="card-rating" ng-model="rate" ng-click="updateIdea(idea._id, rate)" max="max" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
        <span class="label" ng-class="{'label-warning': fraction<3, 'label-info': fraction>=3 && fraction<7, 'label-success': fraction>=7}" ng-show="overStar">
          {{fraction}}/10
        </span>
      
      </div>

    </div>
  </div>
</div>


<!-- enter picture at top, link in all the "a's", title in mid, rating at bottom -->
