<header id="header" role="banner">
  <div class="nav-bar">
    <div my-draggable class="site-logo">
      <img class="logo" src="./img/logo.png" alt="MyDea" />
    </div>
    <div class="header-name">
      <a ui-sref="home">myDea</a>
    </div>
    <nav aria-labelledby="main-navigation" class="left" role="navigation">

      <form class="header-search" role="search">
        <i  class="fa fa-search" aria-hidden="true"></i>
        <input ng-change="queryIdeas(searchIdeas)" placeholder="Search Ideas" ng-model="searchIdeas">
      </form>
    </nav>
    <nav aria-labelledby="user-navigation" class="nav-right" role="navigation">
      <ul>
        <a ui-sref="signUp"><li class="nav-sign-up">Sign up </li></a>
        <a ui-sref="login"><li class="nav-sign-up"> Log in</li></a>
      </ul>
    </nav>
  </div>
  <div ng-show="ideas.length" class="searching" ng-model="ideaPlace">
    <div class="search-place" ng-repeat="idea in ideas">
      <ideacard idea="idea"></ideacard>
    </div>
  </div>
</header>
