<header id="header" role="banner">
  <div class="nav-bar">
    <div my-draggable class="site-logo">
      <img class="logo" src="./img/logo.png" alt="MyDea" />
    </div>
    <div class="header-name">
      <a ui-sref="profile">mIdea</a>
    </div>
    <nav aria-labelledby="main-navigation" class="left" role="navigation">
      <ul class="primary-menu">
        <a ui-sref="create"><li class="primary-menu-link">Create</li></a>
        <a ui-sref="ideas"><li class="primary-menu-link">Ideas</li></a>
        <a ui-sref="collaborate"><li class="primary-menu-link">Collaborate</li></a>
      </ul>
        <form class="header-search" role="search">
          <i ng-click="getIdeas()" class="fa fa-search" aria-hidden="true"></i>
          <input placeholder="Search Ideas" ng-model="searchIdeas">
        </form>
        <div ng-class="{'searching': ideaSearch}" ng-repeat="idea in ideas | filter:searchIdeas">
          <div class="">

          </div>
        </div>
    </nav>
    <nav aria-labelledby="user-navigation" class="nav-right" role="navigation">
      <ul>
        <a class="nav-sign-up" ng-click="logout()">Logout</a>
        <h3><li class="nav-hello"><img src="{{user.facebook.pic || './../../img/profile_default.png'}}" alt="" /></li></h3>
            <h3><li class="nav-hello-name">{{user.name.first}} {{user.name.last}}{{user.facebook.name}}</li></h3>
      </ul>
    </nav>
  </div>
  <div class="nav-search-space">
    
  </div>
</header>
