<nav-bar></nav-bar>
<div id="silkscreen3">
<section class="create-screen">
  <div class="popup-box-one">
    <div class="arrow_box input-description">
      <p class="writing">
          This is a tagline that can summarize your whole idea in one or two lines
      </p>
    </div>
      <div class="arrow_box input-how">
          <p class="writing">
            Describe the process of how it works. Give a step by step process if possible
          </p>
      </div>
    <div id="why-pop" class="arrow_box input-why">
        <p class="writing">
          People don't buy what you do, they buy why you do it. They see passion when it comes from the heart. Make sure to explain the consequences of the idea.
        </p>
    </div>
  </div>
    <div class="create-two">
        <div class="create-outer">
            <div class="create-box">
                <div class="sign-form">
                    <div class="sign-frame">
                        <h2 class="sign-title">Create your mIdea</h2>
                        <form>
                            <fieldset idea="idea">
                                <ol>
                                    <li class="mb2"><input id="title" autofocus="autofocus" type="text" placeholder="title" ng-model="idea.title" required></li>
                                    <li class="mb2"><textarea id="description" autofocus="autofocus" type="text" placeholder="brief description of idea" ng-model="idea.description" required></textarea></li>
                                    <li class="mb2"><textarea id="what" class="what-how-why" autofocus="autofocus" type="text" placeholder="What is it?" ng-model="idea.what" required></textarea></li>
                                    <li class="mb2"><textarea id="how" class="what-how-why" autofocus="autofocus" type="text" placeholder="How does it work?" ng-model="idea.how" required></textarea></li>
                                    <li class="mb2"><textarea id="why" class="what-how-why" autofocus="autofocus" type="text" placeholder="Why?" ng-model="idea.why" required></textarea></li>
                                    <li class="mb2-signup">
                                        <br>
                                        <input class="btn btn--green btn--block submit btn-create" type="button" value="Create mIdea!" ng-click="postIdea(idea)">
                                    </li>
                                </ol>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-box-two">
        <div class="arrow_box-two input-title">
            <p class="writing">
              Make this easily searchable and catchy
            </p>
        </div>
        <div class="arrow_box-two input-what">
            <p class="writing">
              Write what it is. Describe the properties of the idea. Be very detailed.
            </p>
        </div>
        <div id="why-pop" class="arrow_box-two input-why">
            <p class="writing">
              Watch <a href="https://www.youtube.com/watch?v=qp0HIF3SfI4">Simon Sinek: How great leaders inspire action</a> for more.
            </p>
        </div>
    </div>

</section>
</div>
