<nav-bar></nav-bar>
<section>
  <div class="ideas-page-header">
    <div id="silkscreen" ></div>
  </div>

  <div class="ideas-page">
    <div class="ideas-highest-rated">
      <div class="column-title"><h2>Highest Rated</h2></div>
      <div class="ideas-page-content" ng-repeat="idea in nonShuffleIdeas | limitTo: 10">
        <ideacard class="cards" idea='idea' user='user'></ideacard>
      </div>
    </div>
    <div class="ideas-most-recent">
      <div class="column-recent-title"><h2>Most Recent</h2></div>
      <div class="ideas-page-content" ng-repeat="idea in nonShuffleIdeas | orderBy : 'date' : true">
        <div class="recent-outer-card">
          <div class="recent-background-card">
            <div class="recent-card-left">
              <div class="card-pic">
                <a ui-sref="ideaId({id:idea._id})">
                  <img ng-src="{{idea.user.facebook.pic || './../../img/profile_default.png'}}" alt="Profile pic"/>
                </a>
                <div class="recent-card-username">
                  <a ui-sref="ideaId({id:idea._id})">
                      {{idea.user.name.first}}  {{idea.user.name.last}}{{idea.user.facebook.name}}
                  </a>
                </div>
                <div class="recent-card-rating">
                  <a ui-sref="ideaId({id:idea._id})">
                    Rating: {{idea.avg | number:1}}/10.0
                  </a>
              </div>
            </div>
          </div>
            <div class="recent-card-mid">
              <a ui-sref="ideaId({id:idea._id})">{{idea.title}}</a>
            </div>
            <div class="recent-card-right">
              <p>
                <a ui-sref="ideaId({id:idea._id})">
                  Posted: {{idea.date | date: "short"}}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ideas-random">
      <div class="column-title"><h2>Featured</h2></div>
      <div class="ideas-page-content" ng-repeat="idea in shuffleIdeas | limitTo: 10">
        <ideacard class="cards" idea='idea' user='user'></ideacard>
      </div>
    </div>
  </div>

</section>
