<nav-bar></nav-bar>
<section>
  <vid-head></vid-head>

<!-- why share ideas -->
  <div class="bottom-home-page border-top border-bottom">
    <div class="grid-container">
      <div class="center-it">
        <h1>Why share ideas?</h1>
        <div class="center-it-more">
          <p>
            There's a strong connection between the number of ideas received and the number of ideas you're willing to share. The more you share, the more you have. People who hide a "proprietary" idea? Often that's the only idea they have.
            <br><strong>Sharing is good.</strong>
          </p>
          <br>
          <p>
            Read "<a href="http://marketeer.kapost.com/why-people-dont-share-ideas/">The psychological reasons why people don't share ideas</a>"
            <br>
            <br>
            or "<a href="http://www.barcinno.com/5-reasons-you-should-share-your-startup-ideas/">5 reasons you should share your startup ideas</a>"
          </p>
          <br>
            <li><input class="btn--green learn" type="button" value="Learn More" ui-sref="create"></li>


        </div>
      </div>
    </div>
  </div>

  <!-- Most Popular idea cards -->
  <section class="home-content border-bottom">
      <div class="home-content-heading">
        <div class="wut">
          <div class="row">
            <div class="featured">
              <h2>Most Popular ideas</h2>
            </div>
            <div class="see-all">
              <a class="btn btn--border-gray btn--small" ui-sref="ideas">See all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content" ng-repeat='idea in nonShuffleIdeas | limitTo: 3' >
        <ideacard class="cards" idea="idea" user="user"></ideacard>
      </div>
    </section>

  <!-- featured idea cards -->
  <section class="home-content border-bottom">
      <div class="home-content-heading">
        <div class="wut">
          <div class="row">
            <div class="featured">
              <h2>Featured ideas</h2>
            </div>
            <div class="see-all">
              <a class="btn btn--border-gray btn--small" ui-sref="ideas">See all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-content" ng-repeat="idea in shuffleIdeas | limitTo: 3">
        <ideacard class="cards" idea="idea" user="user"></ideacard>
      </div>
    </section>


</section>
