<nav-bar></nav-bar>
<section class="settings">
  <div class="idea-own-outside">
    <div class="idea-own">

      <div class="ideas-most-recent">
        <div class="column-recent-title"><h2>Most Recent</h2></div>
        <div class="ideas-page-content"  ng-repeat="idea in userIdeas | orderBy : 'date' : true">
          <div class="recent-outer-card">
            <div class="recent-background-card">
              <div class="recent-card-left">
                <div class="card-pic">
                  <a ui-sref="ideaId({id:idea._id})">
                    <img ng-src="{{idea.user.facebook.pic || './../../img/profile_default.png'}}" alt="Profile pic"/>
                  </a>
                  <div class="recent-card-username">
                    <a ui-sref="ideaId({id:idea._id})">
                        {{idea.user.name.first}}  {{idea.user.name.last}}{{idea.user.facebook.name}}
                    </a>
                  </div>
                  <div class="recent-card-rating">
                    <a ui-sref="ideaId({id:idea._id})">
                      Rating: {{idea.avg | nmber:1}}/10.0
                    </a>
                </div>
              </div>
            </div>
              <div class="recent-card-mid">
                <a ui-sref="ideaId({id:idea._id})">{{idea.title}}</a>
              </div>
              <div class="recent-card-right">
                <p>
                  <a ui-sref="ideaId({id:idea._id})">
                    Posted: {{idea.date | date: "MMM d, yyyy  h:m a"}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="top-settings">
        <div class="settings-title">
          <h2>Settings</h2>
        </div>
        <br>
        <h3>Your Ideas</h3>
        <div class="settings-card" ng-repeat="idea in userIdeas">
          <ideacard user="user" idea="idea"></ideacard>


            <br>
            <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
            <p class="settings-idea-title">
            </p>
            <br>
            <input type="checkbox" name="name" value=""> Make idea private
          </div>

        </div> -->

      </div>
    </div>
  </div>
</section>
