<nav-bar></nav-bar>
<section class="settings">
  <div class="idea-own-outside">
    <div class="idea-own">
      <div class="top-settings">
        <div class="settings-title">
          <h2>Your ideas</h2>
        </div>
        <br>

        <div class="settings-repeat" ng-repeat="idea in userIdeas">


          <div class="settings-check" ng-click="toggleIdea(); activeButton()" ng-checked="!idea.viewable" >
          <i  class="fa fa-lock" aria-hidden="true">
             Click to make private</i>
          </div>

          <div class="settings-card">
            <li>
                <div class="recent-outer-card">
                  <div class="settings-card-background" ng-class="{'.settings-card-background2': isActive}">
                    <div class="recent-card-left">
                      <div class="card-pic">
                        <a ui-sref="ideaId({id:idea._id})">
                          <img ng-src="{{idea.user.facebook.pic || './../../img/profile_default.png'}}" alt="Profile pic"/>
                        </a>
                        <div class="recent-card-username">
                          <a ui-sref="ideaId({id:idea._id})">
                              {{idea.user.name.first}}  {{idea.user.name.last}}{{idea.user.facebook.name}}
                          </a>
                        </div>
                        <div class="recent-card-rating">
                          <a ui-sref="ideaId({id:idea._id})">
                            Rating: {{idea.avg | number:1}}/10.0
                          </a>
                      </div>
                    </div>
                  </div>
                    <div class="recent-card-mid">
                      <a ui-sref="ideaId({id:idea._id})">{{idea.title}}</a>
                    </div>
                    <div class="recent-card-right">
                      <p>
                        <a ui-sref="ideaId({id:idea._id})">
                          Posted: {{idea.date | date: "MMM d, yyyy  h:m a"}}
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
            </li>
          </div>

          <div class="settings-card-below">
            <h1>
              <i ng-click="trashIdea()" class="fa fa-trash-o fa-2x fire burn" aria-hidden="true"></i>
            </h1>
            <br>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
