<nav-bar></nav-bar>
<section class="settings">
  <div class="idea-own-outside">
    <div class="idea-own">
      <div class="top-settings">
        <div class="settings-title">
          <h2>Your ideas</h2>
        </div>
        <div class="">
          <h1>Animated
            <span class="fire">F</span>
            <span class="burn">i</span>
            <span class="burn">r</span>
            <span class="fire">e</span> Text-Shadow</h1>
        </div>
        <br>

        <ul class="settings-card" ng-repeat="idea in userIdeas">

          <li>
            <a ui-sref="ideaId({id:idea._id})">
              <ideacard class="settings-card-big" user="user" idea="idea"></ideacard>
            </a>
          </li>

          <li>
            <div class="settings-card-below2">
              <div class="settings-check">
                <input ng-click="toggleIdea()" ng-checked="!idea.viewable" type="checkbox" id="ossm" name="ossm">
                <label for="ossm">Idea is now private</label>
              </div>
            </div>
          </li>

          <li>
            <div class="settings-card-below">
              <i ng-click="trashIdea()" class="fa fa-trash-o fa-2x fire" aria-hidden="true">
                <div class="settings-idea-title">
                  <!-- <h6>
                    <span class="fire">T</span>
                    <span class="burn">R</span>
                    <span class="burn">A</span>
                    <span class="fire">S</span>
                    <span class="fire">H  </span>

                    <span class="fire">  I</span>
                    <span class="fire">D</span>
                    <span class="burn">E</span>
                    <span class="burn">A</span>
                    <span class="fire">?</span>
                  </h6> -->
                </div>
              </i>
              <br>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
