a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: #828587;
    text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: #62d18f
}
textarea {
  padding: 10px;
  border-radius: 10px;
  box-shadow: #e8f6ff 0 0 5px;
  border: 1px solid #bfbfbf;
  outline: none;
  color: black;
  margin: 0;
  width: 100%;
}
li {
  list-style: none;
}
fieldset {
  margin-bottom: 20px;
  border: none;
}
fieldset ol {
  list-style: none;
}
fieldset ol li {
  list-style: none;
  list-style-type: none;
  margin-left: 0;
}
li input {
  border: none;
}
li input {
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 17px;
  border-radius:10px;
  box-shadow: #e8f6ff 0 0 5px;
  border: 1px solid #bfbfbf;
  outline: none;
  color: black;
  margin: 0;
  width: 100%;
}
/*--------------------------------Navigation bar----------------------------*/

.nav-bar {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  border-bottom: solid 1px #D9D9DE;
  position: relative;
}
.site-logo {
  float: left;
  height: 100%;
}
.site-logo img{
  height: 60px;
}
.header-name {
  float: left;
  font-size: 59px;
  /*text-shadow: 8px 0px 19px;*/
  font-family: cursive;
}
.primary-menu-link {
  float: left;
  padding: 22px 15px;
  font-size: 14px;
  font-weight: bold;
}
.primary-menu-link:hover {
  background-color: #f7f7f7;
}
.header-search {
  border-left: solid 1px #D9D9DE;
  margin-left: 25px;
  color: #828587;
  height: 100%;
  width: 160px;
  padding: 20px 0 18px 20px;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  float: left;
}
.header-search input {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 17px;
  box-shadow: none;
  border: none;
  outline: none;
  color: black;
}
.nav-right {
  margin-right: 50px;
  font-size: 21px;
  font-weight: bold;
}
.nav-sign-up {
  font-size: 201x;
  padding: 19px 13px;
  float: right;
  color: #004bde;
}
.nav-sign-up:hover {
  background-color: #f7f7f7;
  color: #828587;
  cursor: pointer;
}
.nav-hello {
  padding: 6px 13px;
  float: right;
  color: #828587;
  font-size:24px;
}
.nav-hello img {
  height: 53px;
  width: 53px;
}
.nav-hello-name {
  padding: 19px 13px;
  float: right;
  color: #828587;
  font-size:24px;
}
.searching {
  height: 380px;
  width: 95%;
  margin: 25px auto 0px auto;
  opacity: 1;
  transition: opacity 1s ease-out;
  display: flex;
}
.searching.ng-hide {
  opacity: 0;
}
.search-place {
  width: 100%;
  margin: auto;
}
.search-place .card-outer {
  vertical-align: top;
  width: 300px;
  margin-right: 20px
}

/*-------------Every View-----------------------*/
.view {
  z-index: -2;
  background: linear-gradient(to bottom, #f7f7f2, #c2e5a2);
  width: 100%;
}

/*------------------------------------Footer----------------------------*/
.footImage {
  height: 267px;
  width: 315px;
  position: relative;
  margin-left: 1px;
  background-image: url('./../img/tree.png');
  background-repeat: no-repeat;
}
footer {
  background-color: #74b446;
  color: #fff;
  height: 40px;
  position: relative;
}
.footerCopy {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
.footWords {
  width: 250px;
  font-weight: 600;
  font-size: 19px;
  font-family: Georgia, serif;
  display: inline;
  float: left;
  margin-right: 25px;
  margin-top: 10px;
}
.copyright {
  width: 337px;
  font-size: 13px;
  font-family: Georgia, serif;
  display: inline;
  float: left;
  margin-top: 14px;
  margin-left: 10px;
}
.fb-share {
  width: 250px;
  font-size: 13px;
  font-family: Georgia, serif;
  display: inline;
  float: left;
  margin-top: 10px;
  margin-left: 60px;
}

/*//////////////////////////////////////Home Page////////////////////////////*/
.border-top {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #c5c5c6;
}
.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #c5c5c6;
}

/*video header*/
.header-container {
  width: 100%;
  height: 800px;
  border-left: none;
  border-right: none;
  position: relative;
  padding: 4px;
  margin-bottom: 30px;
}
.video-container {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 3;
}
video {
  position: absolute;
  opacity: 0.78;
  width: 100%;
}
.vid-description {
  color: rgb(7, 89, 0);
  z-index: 4;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 12%;
  padding: 10px;
  width: 700px;
  letter-spacing: 3px;
  font-size: 35px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  border: none;
}


/*why share ideas?*/
.bottom-home-page {
  padding: 40px 0px;
}
.center-it {
  text-align: center;
  padding: 20px;
  color: black;
}
.center-it-more {
  color: #828587;
  width: 910px;
  margin: auto;
  line-height: 20px;
}
.learn {
  width: 126px;
}

/*Want to do more?*/
.when-sign-up {

  width: 430px;
  margin: auto;
  font-size: 25px;
}
.possibilities li {
  text-align: left;
  list-style: square;
}


/*----------------------Modal cards-------------------------------------*/
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.1;
  cursor: pointer;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;

}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}



/*/////////////////////////////////create ideas/////////////////////*/
.create-screen {
  height: 1030px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.create-two {
  width: 100%;
}
.create-outer {
  padding: 60px 20px;
}
.create-box {
  margin: auto;
}
.what-how-why {
  height: 8em;
}
.btn-create {
  width: 120px;
  float: right;
}
/*descriptions of each input*/
.popup-box-one {
  height: 810px;
  width: 80%;
  margin-left: 15px;
}
.popup-box-two {
  height: 810px;
  width: 80%;
  margin-right: 15px;
}
.arrow_box {
	position: relative;
	background: #8EC555;
	border: 1px solid #D9D9DE;
  margin-top: 30px;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 50px;
	width: 50px;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #8EC555;
	border-width: 27px;
	margin-top: -27px;
}
.arrow_box:before {
	border-color: rgba(217, 217, 222, 0);
	border-left-color: #D9D9DE;
	border-width: 28px;
	margin-top: -28px;
}
.arrow_box-two {
	position: relative;
	background: #8EC555;
	border: 1px solid #D9D9DE;
  margin-top: 30px;
}
.arrow_box-two:after, .arrow_box-two:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: "";
	height: 50px;
	width: 50px;
	position: absolute;
	pointer-events: none;
}
.arrow_box-two:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #8EC555;
	border-width: 27px;
	margin-top: -27px;
}
.arrow_box-two:before {
	border-color: rgba(217, 217, 222, 0);
	border-right-color: #D9D9DE;
	border-width: 28px;
	margin-top: -28px;
}
.writing {
  text-align: center;
  color: #fff;
  padding: 5px
}
.input-title {
  margin-top: 155px;
  display: none
}
.input-description {
  margin-top: 220px;
  display: none;
}
.input-what {
  margin-top: 325px;
  display: none;
}
.input-how {
  margin-top: 475px;
  display: none;
}
.input-why {
  margin-top: 620px;
  display: none;
}


/*//////////////////////////////ideas page/////////////////////////////////*/
.ideas-page-header {
  background: #74B48B;
  height: 400px;
  margin-bottom: 20px;
}
.ideas-page {
  display: flex;
  justify-content: space-around;
  width: 96%;
  margin: auto;
}
.ideas-highest-rated {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #D9D9DE;
  border-radius: 15px;
}
.column-title {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 26px;
  color: #828587;
}

/*Most recent*/
.column-recent-title {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 28px;
  color: #ececec;
}
.ideas-most-recent {
  width: 40%;
  padding: 20px;
  margin: 0px 10px 10px;
  background-color: #74b446;
  border: 1px solid #D9D9DE;
  border-radius: 15px;
}
.recent-outer-card {
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 10px;
}
.recent-outer-card a{
  -moz-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -webkit-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -o-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -ms-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  color: #74B446;
}
.recent-background-card {
  height: 125px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #D9D9DE;
  border-radius: 10px;
}
.recent-card-username {
  margin-top: 10px;
}
.recent-card-rating {
  margin-top: 17px;
}
.recent-card-mid {
  position: relative;
  text-align: center;
  padding: 40px;
  font-size: 23px;
}
.recent-card-mid a{
  color: #000;
}
.recent-card-right {
  padding: 4px;
  float: right;
  font-size: 12px;
  color: #74B446;
}

/*random*/
.ideas-random {
  width: 30%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #D9D9DE;
  border-radius: 15px;
}
.ideas-page-content .card-outer {
  width: 100%;
  margin-bottom: 20px;
}


/*----------------------------------idea route-----------------------------*/
.idea-own-outside {
  width: 80%;
  margin: auto;
  padding: 70px 20px;
}
.idea-own {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #D9D9DE;
  border-radius: 15px;
}
.idea-own-column {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 26px;
  color: #74b446;
  margin: auto;
}
.idea-own-column h1{
  margin: auto;
}
.own-username{
  margin-top: -50px;
}
.own-pic img{
  height: 75px;
  width: 75px;
}
.idea-own-content {
  width: 100%;
  margin-bottom: 40px;
}
.idea-own-description {

}
.idea-own-description h2{
  margin-top: -20px;
  text-align: center;
  color: #0C44D3
}
.idea-own-important {
  padding: 20px;
  width: 88%;
  margin: auto;
  border: 1px solid #000;
  border-radius: 15px;
  letter-spacing: .5px;
  font-family: serif;
  font-size: 19px;
}
.idea-own-rating {
  float: left;
}
.own-posted {
  float: right;
}



/*----------------------------------------idea cards-------------------------*/
.home-content {
  height: 500px;
  position: relative;
}
.home-content-heading {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 20px;
}
.wut {
  padding-bottom: 20px;
}
.featured {
  padding: 0px 20px;
  float: left;
}
.featured h2 {
  font-size: 22px;
  line-height: 30px;
}
.see-all {
  float: right;
  padding: 0px 20px;
}
.btn--small {
  padding: 7px 10px;
  border-width: 1px;
  border-radius: 4px;
  font-weight: bold;
  font-size: .75rem;
  border-color: #828587;
  color: #828587;
}
.card-content {
  max-width: 1040px;
  height: 0px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.cards {
  margin-right: -20px;
  margin-left: -20px;
}
.card-outer {
  width: 32%;
  height: 350px;
  position: relative;
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}
.card-outer a{
  -moz-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -webkit-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -o-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  -ms-transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  transition: color 0s ease-in-out, border-bottom-color 0s ease-in-out;
  color: white;
}
.card-almost-outer {
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid #adadad;
  border-radius: 10px;
  background-color: #74b446;
}
.card-top {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: 55px;
  position: relative;
}
.card-top-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4px;
}
.card-pic {
  float: left;
}
.card-pic img{
  height: 50px;
  width: 50px;
}
.card-username {
  padding: 40px 0px 0px 60px;
  font-family: monospace;
}
.card-username a{
  color: #000;
}
.card-date a{
  font-size: 13px;
  color: #303030
}
.card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25em;
  margin-bottom: 0.25em;
}
.card-title a {
  color: #fff;
}
.card-mid {
  padding: 10px;
  height: 50%;
}
.card-bottom {
  position: relative;
  padding: 0px 0px 10px 14px;
  width: 100%;
}
.card-four {
  color: black
}
.card-rating {
  cursor: pointer;
}
/*//////////////////////////////collaborate///////////////////////////////*/



/*/////////////////////////////sign-up and login///////////////////////*/
.sign {
  padding: 60px 20px;
}
.sign-box {
  max-width: 400px;
  margin: auto;
}
.sign-form {
  background-color: #fff;
  border: 1px solid #D9D9DE;
  border-radius: 15px;
  color: #828587;
}
.sign-frame {
  padding: 20px;
}
.sign-title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  display: block;
}

.mb2 {
  margin-bottom: 20px;
}

.btn--green {
  background-color: #1dcf00;
  color: #fff;
}
.btn--green:hover{
  background-color: #74b446;
  color: #fff;
}
.terms {
  font-size: 12px;
  text-align: center;
}
.strikethru {
  position: relative;
  text-align: center;
}
.line {
  height: 1px;
  background-color: #D9D9DE;
  width: 90%;
  margin-left: 5%;
}

/*bottom half of the login card*/
.or {
  display: inline-block;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 14px;
  top: -14px;
  position: relative;
  color: #828587;
}
.mb1 {
  margin-bottom: 10px;
}
.btn--blue {
  background-color: #3b5998;
  color: #fff;
}
.btn--blue:hover {
  background-color: #234896;
  color: #fff;
}
.already-account {
  background-color: rgba(217,217,222,0.2);
  border-top: 1px solid #D9D9DE;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  color: #828587;
}
.already-account a{
  color: #004bde;
}
.already-account a:hover {
  background-color: rgb(240, 240, 240);
}

/*///////////////////////////Log out screen////////////////////////////////*/
.logout-screen {

}
.see-you-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height:300px;
  font-size: 37px;
  color: #3F51C5;
}
